<h1><%= @song.name %></h1><br>
<h3><a href="/artists/<%=@artist.slug%>"><%= @artist.name %></a></h3><br>
<p>
<ul>
<% @genre.each do |genre| %>
    <li><a href="/genres/<%=genre.slug%>"><%= genre.name %></a></li>
    <% end %></ul></p><br>


