<h1><%= @artist.name %>
<p>
<% @songs.each do |song| %>
    <a href="/songs/<%=song.slug%>"><%= song.name %></a>
    <% end %></p><br>
<p>
<% @genres.each do |genre| %>
    <a href="/genres/<%=genre.slug%>"><%= genre.name %></a>
    <% end %></p><br>
